body {
  font-family: Manrope, Sans-Serif;
  background-color: #f8f0e0;
}

.navbar {
  background-color: #454545;
  box-shadow: 0 5px 60px 0 rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  color: aliceblue;
  font-weight: bolder;
  font-size: 1.25rem;
  font-weight: 600;
}

.navbar a {
  color: aliceblue;
  transition: 0.5s;
}

.navbar a:hover {
  color: aliceblue;
  background-color: #11ad8e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.navbar-collapse {
  font-size: 0.75rem;
}

.btn-primary {
  background-color: #454545;
}

.btn-primary:hover {
  background-color: #e4003b;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #5c5c5c;
  font-size: 0.95em;
}

.accordion {
  margin-top: 1.5%;
  margin-bottom: 6.5%;
}

.payment-headings-content {
  margin-top: 1.5%;
  margin-bottom: 5%;
}

.payment-headings-content h1 {
  font-weight: bolder;
  color: #e4003b;
}

h5 {
  font-weight: lighter;
  color: #e4003b;
}

.payment-methods {
  margin-bottom: 5%;
}

/* Footer */
.copyrights {
  background-color: #363636;
  color: white;
}

.footer {
  background-color: #454545;
  color: white;
}
