body {
  font-family: Manrope, Sans-Serif;
}

.navbar {
  background-color: #454545;
  box-shadow: 0 5px 60px 0 rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  color: aliceblue;
  font-weight: bolder;
  font-size: 1.25rem;
  font-weight: 600;
}

.navbar a {
  color: aliceblue;
  transition: 0.5s;
}

.navbar a:hover {
  color: aliceblue;
  background-color: #11ad8e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.navbar-collapse {
  font-size: 0.75rem;
}

.btn-primary {
  background-color: #454545;
}

.btn-primary:hover {
  background-color: #e4003b;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #5c5c5c;
  font-size: 0.95em;
}

/* Donate-Main-Content-Heading */
.main-content {
  position: relative;
  margin-bottom: 5%;
}

.main-content-heading * {
  text-align: center;
}

.donate-main-card {
  position: relative;
  margin-bottom: 50%;
}

.donate-main-card-card {
  position: absolute;
  left: 15%;
  display: flex;
  align-items: center;
}

.btn-group > button {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  margin-left: 5%;
  margin-right: 5%;

  height: 40px;
  min-width: 100px;
}

.btn .btn-primary {
  position: absolute;
  left: 20%;
}

/* Footer */
.copyrights {
  background-color: #363636;
  color: white;
}

.footer {
  background-color: #454545;
  color: white;
}
