body {
  font-family: Manrope, Sans-Serif;
  background-color: #f8f0e0;
}

.navbar {
  background-color: #454545;
  box-shadow: 0 5px 60px 0 rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  color: aliceblue;
  font-weight: bolder;
  font-size: 1.25rem;
  font-weight: 600;
}

.navbar a {
  color: aliceblue;
  transition: 0.5s;
}

.navbar a:hover {
  color: aliceblue;
  background-color: #11ad8e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.navbar-collapse {
  font-size: 0.75rem;
}

.btn-primary {
  background-color: #454545;
}

.btn-primary:hover {
  background-color: #e4003b;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #5c5c5c;
  font-size: 0.95em;
}

/* Donate-Main-Content-Heading */
.main-content {
  margin-bottom: 5%;
  margin-left: 10%;
  color: #e4003b;
  font-weight: bolder;
}

.main-content-heading h1 {
  color: #e4003b;
  font-weight: bolder;
}

.main-content-heading h5 {
  color: #e4003b;
  font-weight: lighter;
}

.main-content-heading a {
  color: #11ad8e;
  font-weight: lighter;
}

.donate-main-card {
  margin-bottom: 50%;
  margin-left: 15%;
}

.card-body {
  background-color: #11ad8e;
  box-shadow: 20px 20px 50px 10px rgba(0, 0, 0, 0.2);
  font-weight: bolder;
}

.btn-group > button {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  margin-left: 5%;
  margin-right: 5%;
  height: 40px;
  min-width: 100px;
  background-color: #11ad8e;
  box-shadow: 20px 20px 50px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
  font-weight: bolder;
}

.btn-group > button:hover {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  margin-left: 5%;
  margin-right: 5%;
  height: 40px;
  min-width: 100px;
  background-color: #e4003b;
  box-shadow: 10px 10px 60px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(0.25em);
}

.btn-primary .donate-pay {
  background-color: #e4003b;
}

/* Footer */
.copyrights {
  background-color: #363636;
  color: white;
}

.footer {
  background-color: #454545;
  color: white;
}
