body {
  font-family: Manrope, Sans-Serif;
}

.donate-your-details-headings-content {
  margin-top: 3.5%;
  margin-bottom: 3.5%;
}

.donate-your-details-main-content {
  margin-top: 3.5%;
  margin-bottom: 3.5%;
}
