body {
  font-family: Manrope, Sans-Serif;
  background-color: #faf8f4;
}

.navbar {
  background-color: #454545;
  box-shadow: 0 5px 60px 0 rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  color: aliceblue;
  font-weight: bolder;
  font-size: 1.25rem;
  font-weight: 600;
}

.navbar a {
  color: aliceblue;
  transition: 0.5s;
}

.navbar a:hover {
  color: aliceblue;
  background-color: #11ad8e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.navbar-collapse {
  font-size: 0.75rem;
}

.btn-primary {
  background-color: #454545;
}

.btn-primary:hover {
  background-color: #e4003b;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #5c5c5c;
  font-size: 0.95em;
}

.main-content-heading {
  position: relative;
}

/* Main-Contnent-Content */
.main-content-heading-heading {
  position: absolute;
  top: 0%;
  left: 20%;
  margin-top: 0.5%;
  margin-bottom: 2.5%;
}

.h1-heading {
  font-weight: bolder;
  color: #e4003b;
}

.h5-heading {
  font-weight: 100px;
  color: #e4003b;
}

.main-content {
  position: relative;
}

.main-content-content {
  margin-top: 15%;
}

.main-content-content-standard {
  position: relative;
  background-color: #e4003b;
  padding: 2%;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
}

.main-content-content-standard:hover {
  background-color: #11ad8e;
  transform: translateY(-0.25em);
  box-shadow: 2px 4px 8px 2px rgba(0.5, 0.5, 0.5, 0.2);
}

.main-content-content .main-content-h2-heading {
  font-weight: bolder;
  color: #f8f0e0;
}

.main-content-content .main-content-h1-heading {
  font-weight: bolder;
  color: #f8f0e0;
}

.main-content-content .main-content-h6-heading {
  font-weight: lighter;
  color: #f8f0e0;
}

/* Main-Contnent-Reduced */
.main-content-reduced {
  position: relative;
  margin-top: 5%;
}

.main-content-content-reduced {
  background-color: #e4003b;
  padding: 2%;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
}

.main-content-content-reduced:hover {
  background-color: #11ad8e;
  transform: translateY(-0.25em);
  box-shadow: 2px 4px 8px 2px rgba(0.5, 0.5, 0.5, 0.2);
  transition: all 0.4s;
}

.reduced-content-h2-heading {
  color: #f8f0e0;
  font-weight: bolder;
}

.reduced-content-h6-heading {
  color: #f8f0e0;
  font-weight: lighter;
}

.reduced-content-h1-heading {
  color: #f8f0e0;
  font-weight: bolder;
}

.btn-primary-reduced {
  background-color: #11ad8e;
  color: #f8f0e0;
  font-weight: bolder;
}

/* Main-Contnent-Other */
.main-content-other {
  position: relative;
  margin-top: 5%;
  margin-bottom: 60%;
}

.main-content-other-content {
  background-color: #e4003b;
  padding: 2%;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
}

.main-content-other-content:hover {
  background-color: #11ad8e;
  transform: translateY(-0.25em);
  box-shadow: 2px 4px 8px 2px rgba(0.5, 0.5, 0.5, 0.2);
}

.other-content-h2-heading {
  color: #f8f0e0;
  font-weight: bolder;
}

.other-content-h6-heading {
  color: #f8f0e0;
  font-weight: lighter;
}

.other-content-h1-heading {
  color: #f8f0e0;
  font-weight: bolder;
}

.btn-primary-reduced {
  background-color: #11ad8e;
  color: #f8f0e0;
  font-weight: bolder;
}

.btn-secondary {
  background-color: #747474;
}

.btn-secondary:hover {
  background-color: #e4003b;
}

/* Footer */
.copyrights {
  background-color: #363636;
  color: white;
}

.footer {
  background-color: #454545;
  color: white;
}
