body {
  font-family: Manrope, Sans-Serif;
  background-color: #f8f0e0;
}

/* Common-Header */
.navbar {
  background-color: #454545;
  box-shadow: 0 5px 60px 0 rgba(0, 0, 0, 0.2);
  top: 0;
}

.navbar-brand {
  color: aliceblue;
  font-weight: bolder;
  font-size: 1.25rem;
  font-weight: 600;
}

.navbar a {
  color: aliceblue;
  transition: 0.5s;
}

.navbar a:hover {
  color: aliceblue;
  background-color: #11ad8e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.navbar-collapse {
  font-size: 0.75rem;
}

.btn-primary {
  background-color: #454545;
}

.btn-primary:hover {
  background-color: #e4003b;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #5c5c5c;
  font-size: 0.95em;
}

.container-fluid .cover {
  position: relative;
}
/* Common-Header-End */

.top-headings-button {
  position: relative;
}

.CTA-sticky-top {
  position: absolute;
  top: 0%;
  right: 15px;
}

.latest-headings {
  position: relative;
}

.latest-headings-heading {
  text-align: center;
  margin-top: 150px;
  color: #e4003b;
}

h1 {
  font-weight: bolder;
}

h2 {
  color: #555756;
  font-weight: lighter;
}

.latest-cards {
  position: relative;
}

.latest-cards-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f0e0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0%;
  height: 200px;
  width: 950px;
  margin-bottom: 2.5%;
  margin-top: 3.5%;
  color: #e4003b;
  transition: all 0.4s;
}

.latest-cards-content:hover {
  background-color: #54ccb4;
  box-shadow: 20px 20px 100px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-0.25em);
}

.latest-cards-content > svg {
  color: black;
}

.latest-card-date-tags {
  position: absolute;
  right: 10%;
  top: 0%;
}

.latest-card-content-close {
  position: absolute;
  top: 0%;
  left: 95%;
}

.latest-card-content-next {
}

.latest-card-content-social-media {
  position: absolute;
  top: 0%;
  left: 92%;
}

.latest-card-content-next {
  position: absolute;
  top: 75%;
  left: 18%;
}

.col-12 {
  padding: 0%;
}

/* Top-3 CTA */
.JOIN-THE-ULF {
  background-color: #e4003b;
  border-radius: 0;

  color: white;
  font-weight: normal;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  transition: all 0.4s;
}

.TAKE-ACTION {
  background-color: #33bfd4;
  border-radius: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: normal;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  transition: all 0.4s;
}

.DONATE-NOW {
  background-color: #11ad8e;
  border-radius: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: normal;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  transition: all 0.4s;
}

.JOIN-THE-ULF:hover {
  background-color: #555756;
  transform: translateX(0.25em);
  box-shadow: 2px 4px 8px 2px rgba(0.5, 0.5, 0.5, 0.2);
}

.TAKE-ACTION:hover {
  background-color: #555756;
  transform: translateX(0.25em);
  box-shadow: 2px 4px 8px 2px rgba(0.5, 0.5, 0.5, 0.2);
}

.DONATE-NOW:hover {
  background-color: #555756;
  transform: translateX(0.25em);
  box-shadow: 2px 4px 8px 2px rgba(0.5, 0.5, 0.5, 0.2);
}

.nav-item > a {
  color: #555756;
}

a:hover {
  color: #11ad8e;
}

.pagination > a {
  color: #555756;
}

.badge-primary {
  background-color: #555756;
}

.svg {
  color: #555756;
}

/* Footer */
.copyrights {
  background-color: #363636;
  color: white;
}

.footer {
  background-color: #454545;
  color: white;
}
