body {
  font-family: Manrope, Sans-Serif;
}

/* Navbar-Common-CSS */
.navbar {
  background-color: #343a40;
}

.navbar-brand {
  color: aliceblue;
}

.navbar a {
  color: aliceblue;
}

.navbar-collapse {
  font-size: 0.85rem;
}

.container-fluid .cover {
  position: relative;
}

.CTA {
  position: absolute;
  right: 5%;
  top: 0%;
}

.home-CTA-top {
  position: relative;
  padding: 0%;
  border: solid 15px #e4003b;
}

.home-img {
  height: 100%;
  width: 100%;
}

.container-fluid .home-CTA-heading {
  position: absolute;
  left: 5%;
  top: 40%;
}

.home-CTA-heading > h2 {
  font-weight: bold;
  font-size: 3em;
}

.home-CTA-heading > h3 {
  font-weight: lighter;
  font-size: 1.5em;
}

.home-CTA-heading-right {
  position: absolute;
  left: 50%;
  top: 40%;
  text-align: center;
}

.form-control {
  width: 55%;
  margin-top: 0.05%;
  margin-bottom: 0.05%;
}

.form-group {
  margin-top: 1.25%;
  margin-bottom: 1.25%;
  line-height: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  background-color: #e4003b;
  margin-top: 1.5%;
  border-color: NONE;
  transition: all 0.5s;
  border: solid 1px none;
}

.card .text-center .home-card {
  position: absolute;
  right: 50%;
  top: 90%;
}

.our-leader {
  position: relative;
}

.our-leader .our-leader-info {
  position: absolute;
  left: 10%;
  top: 50%;
}

.bi .bi-arrow-right-short {
  display: inline-block;
}

.home-local-representative {
  position: relative;
}

.container-fluid .home-local-representative {
  text-align: center;
}

.container-fluid .common-cta {
  position: relative;
}

.common-cta-heading {
  position: absolute;
  left: 10%;
  top: 50%;
}

.common-cta-content {
  position: absolute;
  left: 45%;
  top: 40%;
}
