body {
  font-family: Manrope, Sans-Serif;
  background-color: #f8f0e0;
}

/* Navbar-Common-CSS */
.navbar {
  background-color: #343a40;
}

.navbar-brand {
  color: aliceblue;
}

.navbar a {
  color: aliceblue;
}

.navbar-collapse {
  font-size: 0.85rem;
}

.container-fluid .cover {
  position: relative;
}

.CTA {
  position: absolute;
  right: 15px;
  top: 0%;
}

.home-CTA-top {
  position: relative;
  padding: 0%;
  border: solid 15px #e4003b;
}

.JOIN-THE-ULF {
  background-color: #e4003b;
  border-radius: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: normal;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  transition: all 0.4s;
}

.TAKE-ACTION {
  background-color: #33bfd4;
  border-radius: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: normal;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  transition: all 0.4s;
}

.DONATE-NOW {
  background-color: #11ad8e;
  border-radius: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: normal;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  transition: all 0.4s;
}

.JOIN-THE-ULF:hover {
  background-color: #555756;
  transform: translateX(0.25em);
  box-shadow: 2px 4px 8px 2px rgba(0.5, 0.5, 0.5, 0.2);
}

.TAKE-ACTION:hover {
  background-color: #555756;
  transform: translateX(0.25em);
  box-shadow: 2px 4px 8px 2px rgba(0.5, 0.5, 0.5, 0.2);
}

.DONATE-NOW:hover {
  background-color: #555756;
  transform: translateX(0.25em);
  box-shadow: 2px 4px 8px 2px rgba(0.5, 0.5, 0.5, 0.2);
}

.home-img {
  height: 100%;
  width: 100%;
}

.container-fluid .home-CTA-heading {
  position: absolute;
  left: 5%;
  top: 40%;
}

.home-CTA-heading > h2 {
  font-weight: bold;
  font-size: 3em;
}

.home-CTA-heading > h3 {
  font-weight: lighter;
  font-size: 1.5em;
}

.home-CTA-heading-right {
  position: absolute;
  left: 50%;
  top: 40%;
  text-align: center;
}

.form-control {
  width: 55%;
  margin-top: 0.05%;
  margin-bottom: 0.05%;
}

.form-group {
  margin-top: 1.25%;
  margin-bottom: 1.25%;
  line-height: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .text-center .home-card {
  position: absolute;
  right: 50%;
  top: 90%;
}

.our-leader {
  position: relative;
}

.our-leader .our-leader-info {
  position: absolute;
  left: 10%;
  top: 50%;
}

.bi .bi-arrow-right-short {
  display: inline-block;
}

.home-local-representative {
  position: relative;
}

.container-fluid .home-local-representative {
  text-align: center;
}

.container-fluid .common-cta {
  position: relative;
}

.common-cta-heading {
  position: absolute;
  left: 10%;
  top: 50%;
}

.common-cta-content {
  position: absolute;
  left: 45%;
  top: 40%;
}

.common-cta-img {
  width: 100%;
}

.s {
  background-color: #e4003b;
}

.chip-in-card {
  margin-left: 39%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #11ad8e;
  box-shadow: 20px 20px 50px 10px rgba(0, 0, 0, 0.2);
}

.b-card {
  background-color: #11ad8e;
  box-shadow: 20px 20px 50px 10px rgba(0, 0, 0, 0.2);
  border: solid 1px #11ad8e;
  font-weight: bolder;
  transition: all 0.4s;
}

.b-card:hover {
  background-color: #33bfd4;
  box-shadow: 20px 20px 50px 10px rgba(0, 0, 0, 0.2);
  border: solid 1px #33bfd4;
  font-weight: lighter;
  transform: translateY(-0.25em);
}

.our-campaign {
  background-color: #f8f0e0;
  text-align: center;
  margin-left: 10%;
  margin-bottom: 10%;
}

.our-campaign h3 {
  color: #e4003b;
  font-weight: bolder;
  margin-bottom: 3%;
  font-size: 2em;
}

.card-oc {
  background-color: #f8f0e0;
  box-shadow: 20px 20px 50px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
}

.card-oc:hover {
  background-color: #e4003b;
  box-shadow: 20px 20px 100px 100px rgba(0, 0, 0, 0.2);
  transform: translateY(1.25em);
  color: #f8f0e0;
}

.our-leader-info h1 {
  color: #e4003b;
  font-weight: bolder;
}

.our-leader-info h5 {
  color: #e4003b;
  font-weight: lighter;
}

.our-leader-info h4 {
  color: #343a40;
  font-weight: normal;
}

.kk-img {
  width: 100%;
  height: 100%;
  box-shadow: 20px 20px 30px 10px rgba(0, 0, 0, 0.2);
}

.our-leader {
  margin-bottom: 8%;
}

.home-local-representative {
  margin-left: 1%;
  margin-bottom: 5%;
}

.home-local-representative h4 {
  color: #e4003b;
  margin-bottom: 1%;
  font-weight: bolder;
}

.home-join-movement {
  margin-bottom: 5%;
}

.join-movement-col {
  background-color: #e4003b;
  display: flex;
  align-items: center;
  justify-items: center;
  height: 150px;
  width: 150px;
  color: #f8f0e0;
  font-weight: bolder;
  font-size: 1.25rem;
  box-shadow: 20px 20px 30px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.6s;
}

.join-movement-col:hover {
  background-color: #11ad8e;
  margin: 1.5%;
  display: flex;
  align-items: flex-end;
  justify-items: flex-end;
  height: 150px;
  width: 150px;
  color: #343a40;
  font-weight: bolder;
  font-size: 1.25rem;
  box-shadow: 20px 20px 100px 10px rgba(0, 0, 0, 0.2);
}

.home-join-movement h1 {
  color: #e4003b;
  font-weight: bold;
}

.home-join-movement h3 {
  color: #343a40;
  font-weight: bold;
}

.home-join-movement h4 {
  color: #11ad8e;
  font-weight: bold;
}

.copyrights {
  background-color: #363636;
  color: white;
}

.footer {
  background-color: #454545;
  color: white;
}
