body {
  font-family: Manrope, Sans-Serif;
  background-color: #f8f0e0;
}

h5 {
  font-weight: lighter;
  color: #e4003b;
  font-size: 0.85em;
}

h1 {
  font-weight: bolder;
  color: #e4003b;
  font-size: 2.75em;
}

h3 {
  font-weight: 300px;
  color: #e4003b;
  font-size: 1.5em;
}

.navbar {
  background-color: #454545;
  box-shadow: 0 5px 60px 0 rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  color: aliceblue;
  font-weight: bolder;
  font-size: 1.25rem;
  font-weight: 600;
}

.navbar a {
  color: aliceblue;
  transition: 0.5s;
}

.navbar a:hover {
  color: aliceblue;
  background-color: #11ad8e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.navbar-collapse {
  font-size: 0.75rem;
}

.btn-primary {
  background-color: #454545;
}

.btn-primary:hover {
  background-color: #e4003b;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #5c5c5c;
  font-size: 0.95em;
}

.volunteer-headings-content {
  margin-top: 5%;
  margin-bottom: 2.5%;
}

.col {
  margin-bottom: 5.5%;
}

.volunteer-main-content .col {
  padding: 5%;
}

.btn-primary {
  background-color: #e4003b;
  margin-top: 1.5%;
  margin-top: 1.5%;
  border-color: NONE;
  transition: all 0.5s;
  border: solid 1px none;
  padding-left: 5%;
  padding-right: 5%;
}

.btn-primary:hover {
  background-color: #11ad8e;
  transform: translateY(-0.25em);
}

.btn-secondary {
  background-color: #c4c4c4;
  margin-top: 1.5%;
  margin-top: 1.5%;
  border-color: NONE;
  transition: all 0.5s;
  border: solid 1px none;
  padding-left: 5%;
  padding-right: 5%;
}

.btn-secondary:hover {
  background-color: #747474;
  transform: translateY(-0.25em);
}

/* Footer */
.copyrights {
  background-color: #363636;
  color: white;
}

.footer {
  background-color: #454545;
  color: white;
}
