body {
  font-family: Manrope, Sans-Serif;
  background-color: #464545;
}

.container {
  position: relative;
  margin-top: 15%;
  text-align: center;
}

.col-11 {
  position: relative;
  left: 0%;
}

.col-1 > svg {
  position: relative;
  right: 10;
  top: -10%;
  color: aliceblue;
}

.container H1 {
  color: white;
  font-size: 2.5rem;
  font-weight: bolder;
}

.container a {
  color: white;
  font-size: 2.5rem;
  font-weight: bolder;
}

/* Footer */
.copyrights {
  background-color: #363636;
  color: white;
}

.footer {
  background-color: #454545;
  color: white;
}
