body {
  font-family: Manrope, Sans-Serif;
}

.container {
  position: relative;
}

.navbar {
  background-color: #343a40;
}

.navbar-brand {
  color: aliceblue;
  font-weight: bolder;
  font-size: 1.25rem;
  font-weight: 600;
}

.navbar a {
  color: aliceblue;
}

.navbar-collapse {
  font-size: 0.75rem;
}

.top-stuff {
  margin: 2.5%;
}

.top-stuff > button {
  padding-left: 2.5%;
  padding-right: 2.5%;
  border-radius: 12px;
  background-color: #2d9c56;
}

.category-badges > span {
  background-color: darkgreen;
}

.event {
  display: flex;
  margin: 2.5%;
  padding: 2.5%;
}

.event-title h5 {
  font-weight: bolder;
}

.event-title p {
  color: grey;
}

.details-row {
  display: flex;
}

.action-btns {
  margin: 1%;
}

.action-btns > button {
  background-color: #2d9c56;
}

.rsvp-form {
  margin: 1.5%;
}

.btn-primary {
  align-self: center;
  width: 100%;
  margin-bottom: 0;
  background-color: grey;
}

.day-categories > span {
  background-color: #e4003b;
}
