body {
  font-family: Manrope, Sans-Serif;
}

.container {
  position: relative;
}

.container > h2 h3 h6 {
  position: absolute;
  top: 5%;
  left: 5%;
}

.container-badges {
  position: absolute;
  top: 5%;
  left: 85%;
}

.events-filter {
  margin: 5%;
}

.day-headings {
  text-align: center;
}

.event {
  margin: 2.5%;
  padding: 2.5%;
}

.details-row {
  display: flex;
}

.action-btns {
  margin: 1%;
}
