body {
  font-family: Manrope, Sans-Serif;
  background-color: #f8f0e0;
}

h5 {
  font-weight: lighter;
  color: #e4003b;
  font-size: 1.25em;
}

h1 {
  font-weight: bold;
  color: #e4003b;
  font-size: 2.75em;
}

h4 {
  font-weight: 300px;
  color: #f8f0e0;
  font-size: 1.5em;
}

h6 {
  font-weight: 300px;
  color: #d8d8d8;
  font-size: 0.85em;
}

.navbar {
  background-color: #454545;
  box-shadow: 0 5px 60px 0 rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  color: aliceblue;
  font-weight: bolder;
  font-size: 1.25rem;
  font-weight: 600;
}

.navbar a {
  color: aliceblue;
  transition: 0.5s;
}

.navbar a:hover {
  color: aliceblue;
  background-color: #11ad8e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.navbar-collapse {
  font-size: 0.75rem;
}

.btn-primary {
  background-color: #454545;
}

.btn-primary:hover {
  background-color: #e4003b;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #5c5c5c;
  font-size: 0.95em;
}

.map-headings-content {
  margin-top: 5%;
}

.map-search-content {
  background-color: #e4003b;
  padding: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 5px;
}

.btn-primary {
  background-color: #11ad8e;
}

.btn-secondary {
  background-color: #c4c4c4;
}

.map-map {
  width: 100%;
}

/* Footer */
.copyrights {
  background-color: #363636;
  color: white;
}

.footer {
  background-color: #454545;
  color: white;
}
