body {
  font-family: Manrope, Sans-Serif;
}

.container {
  position: relative;
}

.navbar {
  background-color: #454545;
  box-shadow: 0 5px 60px 0 rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  color: aliceblue;
  font-weight: bolder;
  font-size: 1.25rem;
  font-weight: 600;
}

.navbar a {
  color: aliceblue;
  transition: 0.5s;
}

.navbar a:hover {
  color: aliceblue;
  background-color: #11ad8e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.navbar-collapse {
  font-size: 0.75rem;
}

.btn-primary {
  background-color: #454545;
}

.btn-primary:hover {
  background-color: #e4003b;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #5c5c5c;
  font-size: 0.95em;
}

.top-stuff {
  margin: 2.5%;
}

.top-stuff > button {
  padding-left: 2.5%;
  padding-right: 2.5%;
  border-radius: 12px;
  background-color: #2d9c56;
}

.category-badges > span {
  background-color: darkgreen;
}

.event {
  display: flex;
  margin: 2.5%;
  padding: 2.5%;
}

.event-title h5 {
  font-weight: bolder;
}

.event-title p {
  color: grey;
}

.details-row {
  display: flex;
}

.action-btns {
  margin: 1%;
}

.action-btns > button {
  background-color: #2d9c56;
}

.rsvp-form {
  margin: 1.5%;
}

.btn-primary {
  align-self: center;
  width: 100%;
  margin-bottom: 0;
  background-color: grey;
}

.day-categories > span {
  background-color: #e4003b;
}

/* Footer */
.copyrights {
  background-color: #363636;
  color: white;
}

.footer {
  background-color: #454545;
  color: white;
}
