<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join-utf-your-details</title>
    <!--Stylesheets-->
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/join-utf-your-details.css" />
  </head>
  <body>
    <!-- Common-Navbar -->
    <nav class="navbar navbar-expand-lg sticky-top">
      <a class="navbar-brand" href="../templates/index2.html">
        <img
          src="../images/Home-Hammer-Sickle.svg"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
          loading="lazy"
        />
        The United Left Front
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              ABOUT
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">WHO WE ARE</a>
              <a class="dropdown-item" href="#">WHAT WE DO</a>
              <a class="dropdown-item" href="#">WHOM WE SERVE</a>
              <a class="dropdown-item" href="#">HOW WE WORK</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">LEGACY</a>
              <a class="dropdown-item" href="#">BREAKING AWAY FROM SHACKLES</a>
              <a class="dropdown-item" href="#">KARL MARX</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              PEOPLE
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#"
                >OUR LEADER - GENERAL SECRETARY</a
              >
              <a class="dropdown-item" href="#">POLITBURO</a>
              <a class="dropdown-item" href="#">SHADOW CABINET</a>
              <a class="dropdown-item" href="#">OUR STATE GOVERNMENTS</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">LOCAL GOVERNMENTS</a>
              <a class="dropdown-item" href="#"
                >FIND YOUR LOCAL REPRESENTATIVE</a
              >
            </div>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              CAMPAIGN 2024
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">WHAT IS IN IT FOR YOU</a>
              <a class="dropdown-item" href="#">HOW CAN YOU CREATE IMPACT</a>
              <a class="dropdown-item" href="#">MANIFESTO</a>
              <a class="dropdown-item" href="#">AREA WISE MEMBERS</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">AGAINST THE BJP</a>
              <a class="dropdown-item" href="#">SOUL OF NATION</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              WHERE DO WE STAND
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">CAMPAIGNS</a>
              <a class="dropdown-item" href="#">2019 MANIFESTO</a>
              <a class="dropdown-item" href="#">PREVIOUS MANIFESTO</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              MEMBERS
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">WHY</a>
              <a class="dropdown-item" href="#">NEW MEMBERS</a>
              <a class="dropdown-item" href="#">PARTY MEMBERS</a>
              <a class="dropdown-item" href="#">TAKE PART</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">TOOLS FOR ACTIVISTS </a>
              <a class="dropdown-item" href="#">GROUPS</a>
              <a class="dropdown-item" href="#">AFFILIATED UNIONS</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link"
              href="#"
              id="navbarDropdownGetInvolved"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              GET INVOLVED
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">DISCUSSION & DEBATE</a>
              <a class="dropdown-item" href="#">CRAFT POLICY</a>
              <a class="dropdown-item" href="#">TALK TO YOUR LEADER</a>

              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"
                >TALK TO YOUR LOCAL REPRESENTATIVE</a
              >
              <a class="dropdown-item" href="#">ATTEND A BAITHAK</a>
              <a class="dropdown-item" href="#">ON THE FRONTLINES</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"
              >RESOURCES</a
            >
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"
              >LOG-IN</a
            >
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-primary my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </div>
    </nav>

    <!-- Join-UTF-Your-Details-Headings -->
    <section class="your-details-headings">
      <div class="container your-details-headings-content">
        <div class="row">
          <div class="col-12">
            <h5>Join Now</h5>
            <h1>Your Details</h1>
            <h3>Please provide your personal details</h3>
          </div>
        </div>
      </div>
    </section>

    <!--Join-UTF-Your-Details-Main -->
    <section class="your-details-main">
      <div class="container your-details-main">
        <div class="row">
          <div class="col">
            <form method="POST" action="../php/join-utf-your-details.php">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">First Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputEmail4"
                    name="first_name"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Last Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputPassword4"
                    name="last_name"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="inputEmail4"
                    name="email"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="inputPassword4"
                    name="password"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="inputAddress">Address</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputAddress"
                  placeholder="1234 Main St"
                  name="address_1"
                />
              </div>
              <div class="form-group">
                <label for="inputAddress2">Address 2</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputAddress2"
                  placeholder="Apartment, studio, or floor"
                  name="address_2	"
                />
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCity">City</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputCity"
                    name="city"
                  />
                </div>
                <div class="form-group col-md-4">
                  <label for="inputState">State</label>
                  <select id="inputState" class="form-control" name="state">
                    <option selected>Choose...</option>
                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                    <option value="Andaman and Nicobar Islands">
                      Andaman and Nicobar Islands
                    </option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="Assam">Assam</option>
                    <option value="Bihar">Bihar</option>
                    <option value="Chandigarh">Chandigarh</option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Dadar and Nagar Haveli">
                      Dadar and Nagar Haveli
                    </option>
                    <option value="Daman and Diu">Daman and Diu</option>
                    <option value="Delhi">Delhi</option>
                    <option value="Lakshadweep">Lakshadweep</option>
                    <option value="Puducherry">Puducherry</option>
                    <option value="Goa">Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Manipur">Manipur</option>
                    <option value="Meghalaya">Meghalaya</option>
                    <option value="Mizoram">Mizoram</option>
                    <option value="Nagaland">Nagaland</option>
                    <option value="Odisha">Odisha</option>
                    <option value="Punjab">Punjab</option>
                    <option value="Rajasthan">Rajasthan</option>
                    <option value="Sikkim">Sikkim</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    <option value="Telangana">Telangana</option>
                    <option value="Tripura">Tripura</option>
                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                    <option value="Uttarakhand">Uttarakhand</option>
                    <option value="West Bengal">West Bengal</option>
                  </select>
                </div>
                <div class="form-group col-md-2">
                  <label for="inputZip">Pin Code</label>
                  <input
                    type="number"
                    class="form-control"
                    id="inputZip"
                    name="pincode"
                  />
                </div>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="gridCheck"
                  />
                  <label class="form-check-label" for="gridCheck">
                    I have read the terms and conditions
                  </label>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Proceed</button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <footer class="bg footer">
      <div class="container py-5">
        <div class="row py-4">
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <img src="img/logo.png" alt="" width="180" class="mb-3" />
            <p class="font-italic text-muted">
              Workers of the world unite!! for you have nothing to loose your
              chains.
            </p>
            <ul class="list-inline mt-4">
              <li class="list-inline-item">
                <a href="#" target="_blank" title="twitter"
                  ><i class="fa fa-twitter"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="#" target="_blank" title="facebook"
                  ><i class="fa fa-facebook"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="#" target="_blank" title="instagram"
                  ><i class="fa fa-instagram"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="#" target="_blank" title="pinterest"
                  ><i class="fa fa-pinterest"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="#" target="_blank" title="vimeo"
                  ><i class="fa fa-vimeo"></i
                ></a>
              </li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
            <h6 class="text-uppercase font-weight-bold mb-4">Our People</h6>
            <ul class="list-unstyled mb-0">
              <li class="mb-2"><a href="#" class="text-muted">Politburo</a></li>
              <li class="mb-2">
                <a href="#" class="text-muted">Shadow Cabinet</a>
              </li>
              <li class="mb-2">
                <a href="#" class="text-muted">Kanahiya Kumar</a>
              </li>
              <li class="mb-2">
                <a href="#" class="text-muted">You And Us</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
            <h6 class="text-uppercase font-weight-bold mb-4">Take Action</h6>
            <ul class="list-unstyled mb-0">
              <li class="mb-2">
                <a href="#" class="text-muted">Find An Event</a>
              </li>
              <li class="mb-2">
                <a href="#" class="text-muted">Create Change</a>
              </li>
              <li class="mb-2"><a href="#" class="text-muted">Donate</a></li>
              <li class="mb-2">
                <a href="#" class="text-muted">Become a member</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 mb-lg-0">
            <h6 class="text-uppercase font-weight-bold mb-4">Get in touch</h6>
            <p class="text-muted mb-4">Find your local representative.</p>
            <div class="p-1 rounded border">
              <div class="input-group">
                <input
                  type="text"
                  placeholder="Enter your pin code/area name"
                  aria-describedby="button-addon1"
                  class="form-control border-0 shadow-0"
                />
                <div class="input-group-append">
                  <button id="button-addon1" type="submit" class="btn btn-link">
                    <i class="fa fa-paper-plane"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Copyrights -->
      <div class="bg py-4 copyrights">
        <div class="container text-center">
          <p class="text-muted mb-0 py-2">
            © 2020 The-United-Left-Front. All Rights Reserved.
          </p>
        </div>
      </div>
    </footer>

    <!--Scripts-->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
    <script src="../js/main.js"></script>
  </body>
</html>
